In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
data = pd.read_csv('drive/My Drive/order_062022.csv',sep=';')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data['Kota/Kabupaten'].value_counts().head()

KOTA JAKARTA TIMUR      22
KOTA BEKASI             16
KOTA JAKARTA BARAT      15
KOTA JAKARTA SELATAN    15
KAB. BOGOR              14
Name: Kota/Kabupaten, dtype: int64